<div class="movie-sections">

    <!-- Recommendations -->
    <section class="movie-section"  ><br><br>
      <h2 class="section-title">Recommendations</h2>
      <div class="movie-grid"  >
        <div class="movie-card" *ngFor="let movie of recommendations" >     
              <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"  (click)="navigateToDetail(movie.id)"alt="{{ movie.title }}">
          <p class="movie-title">{{ movie.title }}</p>
          <div class="action-icons">
            <span 
  class="material-icons favorite-icon cursor-pointer text-gray-400 hover:text-red-400" 
  [ngClass]="{ 'text-red-500': isFavorite(movie) }"
  (click)="toggleFavorite(movie)">
  favorite
</span>
<span 
  class="material-icons cursor-pointer wishlist-icon" 
  (click)="openDatePicker(movie.id)">
  list_alt
</span>

          </div>
        </div>
      </div>
    </section>
  
    <!-- Favoris -->
    <section class="movie-section">
      <h2 class="section-title">My Favorites</h2>
      <div class="movie-grid">
        <div class="movie-card" *ngFor="let favorite of favorites">
          <img [src]="'https://image.tmdb.org/t/p/w500' + favorite.poster_path" alt="{{ favorite.title }}">
          <p class="movie-title">{{ favorite.title }}</p>
          <button class="remove-btn" (click)="removeFromFavorites(favorite.tmdb_movie_id)">Retirer</button>
        </div>
      </div>
      
    </section>
  
    <!-- Wishlist -->
    <section class="movie-section">
      <h2 class="section-title">My Wishlist</h2>
      <div class="movie-grid">
        <div class="movie-card" *ngFor="let movie of wishlist">
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
          <p class="movie-title">{{ movie.title }}</p>
          <button class="remove-btn" (click)="removeFromWishlist(movie.tmdb_movie_id)">Retirer</button>
        </div>
      </div>
    </section>
  
  </div>
  


  <div class="modal" *ngIf="showDatePicker">
    <div class="modal-content">
      <h2 class="modal-title">Choose a date</h2>
      <input
        type="date"
        [(ngModel)]="selectedDate"
        class="date-picker modern-datepicker"
      />
      <div class="modal-actions">
        <button class="modal-btn-confirm" (click)="confirmDate()">Add</button>
        <button class="modal-btn-cancel" (click)="closeDatePicker()">Cancel</button>
      </div>
    </div>
  </div>
  
  