
<br><br><div class="profile-container">
    <div class="profile-picture-section">
      <img
        [src]="user.profile_picture_url || 'assets/default-profile.png'"
        alt="Profile Picture"
        class="profile-picture"
      />
    </div>
    <div class="profile-info-section">
      <div class="profile-details">
        <p class="profile-name">{{ user.fname }} {{ user.lname }}</p>
        <p class="profile-email">Email : {{ user.email }}</p>
        <p class="profile-preferred">Preffered type : {{ user.preferred_type }}</p>
      </div>
      <button class="btn-edit" (click)="openEditModal()">Edit profile</button>
    </div>
  </div>
  <!-- Modal d'édition -->
  <div class="modal " *ngIf="showEditModal">
    <div class="modal-content">  
      <!-- Formulaire d'édition -->
      <form (ngSubmit)="updateProfile()" style="background: rgba(34, 33, 33, 0.7);">
        <label for="fname">First name :</label>
        <input 
          type="text" 
          id="fname" 
          [(ngModel)]="user.fname" 
          name="fname" 
          required 
        />
  
        <label for="lname">Last name : </label>
        <input 
          type="text" 
          id="lname" 
          [(ngModel)]="user.lname" 
          name="lname" 
          required 
        />
  
        <label for="email">Email :</label>
        <input 
          type="email" 
          id="email" 
          [(ngModel)]="user.email" 
          name="email" 
          required 
        />
  
        <label for="preferred_type">Preffered type :</label>
        <select 
          id="preferred_type" 
          [(ngModel)]="user.preferred_type" 
          name="preferred_type"
        >
          <option value="Movie">Film</option>
          <option value="Series">Series</option>
        </select>
  
        <label for="profile_picture">Update profile picture :</label>
        <input 
          type="file" 
          id="profile_picture" 
          (change)="onFileSelected($event)" 
          accept="image/*" 
        />
  
        <div class="modal-actions">
          <button type="submit" class="btn-save">Submit</button>
          <button type="button" class="btn-cancel" (click)="closeEditModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  