<div class="min-h-screen flex items-center justify-center bg-gray-900">
  <div class="w-full max-w-md p-6 rounded-lg shadow-lg bg-gray-800">
    <h1 class="text-2xl text-red-500 text-center mb-6">Create an Account</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="space-y-6">
      <div>
        <label for="fname" class="text-gray-200">First Name</label>
        <input
          type="text"
          id="fname"
          [(ngModel)]="fname"
          name="fname"
          required
          class="w-full px-3 py-2 bg-gray-700 text-gray-200 rounded-lg"
        />
      </div>
      <div>
        <label for="lname" class="text-gray-200">Last Name</label>
        <input
          type="text"
          id="lname"
          [(ngModel)]="lname"
          name="lname"
          required
          class="w-full px-3 py-2 bg-gray-700 text-gray-200 rounded-lg"
        />
      </div>
      <div>
        <label for="email" class="text-gray-200">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          class="w-full px-3 py-2 bg-gray-700 text-gray-200 rounded-lg"
        />
      </div>
      <div>
        <label for="password" class="text-gray-200">Password</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
          class="w-full px-3 py-2 bg-gray-700 text-gray-200 rounded-lg"
        />
      </div>
      <div>
        <label for="birth_date" class="text-gray-200">Date of Birth</label>
        <input
          type="date"
          id="birth_date"
          [(ngModel)]="birth_date"
          name="birth_date"
          required
          class="w-full px-3 py-2 bg-gray-700 text-gray-200 rounded-lg"
        />
      </div>
      <div>
        <label for="profile_picture" class="text-gray-200">Profile Picture</label>
        <input
          type="file"
          id="profile_picture"
          (change)="onFileSelected($event)"
          class="w-full px-3 py-2 bg-gray-700 text-gray-200 rounded-lg"
          accept="image/png, image/jpeg, image/jpg, image/gif, image/svg+xml"
        />
        <!-- Aperçu de l'image sélectionnée -->
        <div *ngIf="profilePicturePreview">
          <img [src]="profilePicturePreview" alt="Profile Picture Preview" class="mt-2 w-32 h-32 rounded-full object-cover">
        </div>
      </div>
      
      
      <!-- Gender -->
      <div>
        <label class="text-gray-200">Gender</label>
        <div class="flex space-x-4 mt-2">
          <label class="flex items-center space-x-2 cursor-pointer">
            <input
              type="radio"
              name="genre"
              [(ngModel)]="genre"
              value="Male"
              required
              class="hidden peer"
            />
            <div
              class="px-4 py-2 bg-gray-700 text-gray-200 rounded-lg peer-checked:bg-blue-600 peer-checked:text-white transition"
            >
              Male 👨
            </div>
          </label>
          <label class="flex items-center space-x-2 cursor-pointer">
            <input
              type="radio"
              name="genre"
              [(ngModel)]="genre"
              value="Female"
              required
              class="hidden peer"
            />
            <div
              class="px-4 py-2 bg-gray-700 text-gray-200 rounded-lg peer-checked:bg-pink-600 peer-checked:text-white transition"
            >
              Female 👩
            </div>
          </label>
        </div>
      </div>
      <!-- Preferred Type -->
      <div>
        <label class="text-gray-200">Preferred Type</label>
        <div class="flex space-x-4 mt-2">
          <label class="flex items-center space-x-2 cursor-pointer">
            <input
              type="radio"
              name="preferred_type"
              [(ngModel)]="preferred_type"
              value="Series"
              required
              class="hidden peer"
            />
            <div
              class="px-4 py-2 bg-gray-700 text-gray-200 rounded-lg peer-checked:bg-green-600 peer-checked:text-white transition"
            >
              Series 📺
            </div>
          </label>
          <label class="flex items-center space-x-2 cursor-pointer">
            <input
              type="radio"
              name="preferred_type"
              [(ngModel)]="preferred_type"
              value="Movie"
              required
              class="hidden peer"
            />
            <div
              class="px-4 py-2 bg-gray-700 text-gray-200 rounded-lg peer-checked:bg-purple-600 peer-checked:text-white transition"
            >
              Movie 🎬
            </div>
          </label>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!userForm.valid"
        class="w-full bg-red-600 text-white py-2 rounded-lg hover:bg-red-700 transition"
      >
        Add User
      </button>
    </form>
  </div>
</div>
