.transparent-toolbar {
  background-color: transparent !important;
  position: absolute; /* Positionnez la barre au-dessus de l'image */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; /* Place la barre de navigation au-dessus de l'affiche */
}
.logo {
  background: transparent !important;
  justify-content: center;
  align-items: center;
}

.logo-image {
  background-color: transparent !important;
}


mat-sidenav-container {
  display: flex;
  height: 100vh;
}

mat-sidenav {
  width: 250px;
  height: 100%;
  color: white;
}


mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}



mat-toolbar {
  background-color: transparent !important; /* Définit le fond transparent */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 64px; /* Hauteur standard de la toolbar */
}

mat-icon {
  background-color: transparent !important; /* Définit le fond transparent */
  margin-left: 15px;
  color: #608299;
  cursor: pointer;
}

.box {
  background-color: transparent !important; /* Définit le fond transparent */
  display: flex;
  margin-right: 15px; /* Ajoute de l'espace à gauche */
}


.main {
  flex-grow: 1; /* Assurez-vous que le contenu occupe tout l'espace restant */
}


/* Pour les très petits écrans (ex: téléphones très petits) */
@media (max-width: 480px) {
  mat-toolbar {
  
    height: 50px; /* Réduire la hauteur de la toolbar */
    padding: 0 5px; /* Réduire le padding pour les très petits écrans */
  }

  .main {
    padding: 10px;
  }

  mat-sidenav {
    width: 200px; /* Réduire la largeur de la sidebar */
  }

  mat-sidenav.opened {
    width: 150px; /* Ajuster la largeur ouverte de la sidebar */
  }

  mat-icon {
    margin: 0 5px; /* Ajuster la marge pour les très petits écrans */
  }
}
